In [1]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np

In [2]:
mushroom = fetch_ucirepo(id=73)
mushroom_features_df = pd.DataFrame.from_dict(mushroom['data']['features'])
mushroom_classes_df = pd.DataFrame.from_dict(mushroom['data']['targets'])
pd.concat([mushroom_classes_df, mushroom_features_df], axis=1)

,poisonous,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

In [3]:
breast_cancer = fetch_ucirepo(id=17)
breast_cancer_features_df = pd.DataFrame.from_dict(breast_cancer['data']['features'])
breast_cancer_classes_df = pd.DataFrame.from_dict(breast_cancer['data']['targets'])
pd.concat([breast_cancer_classes_df, breast_cancer_features_df], axis=1)

,Diagnosis,radius1,texture1,perimeter1,area1,smoothness1,compactness1,concavity1,concave_points1,symmetry1,...,radius3,texture3,perimeter3,area3,smoothness3,compactness3,concavity3,concave_points3,symmetry3,fractal_dimension3
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [4]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer
from sklearn.datasets import fetch_openml

titanic = fetch_openml(name='titanic', version=1)
titanic_df = titanic['frame']
titanic_df['boat'] = titanic_df['boat'].fillna(value=0)
titanic_df['body'] = titanic_df['body'].fillna(value=0)

titanic_df['body'] = titanic_df['body'].fillna(value=0)

titanic_df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,0.0,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,0.0,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0,0.0,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0,0.0,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0,0.0,NaN

In [5]:
titanic_df_encoded = titanic_df

titanic_df['boat'] = titanic_df['boat'].astype(str)
titanic_df['boat'] = titanic_df['boat'].astype(str)

encoded_features = ['sex', 'cabin', 'ticket', 'home.dest', 'embarked', 'boat']
label_encoders = {feature: LabelEncoder() for feature in encoded_features}
for feature, encoder in label_encoders.items():
    titanic_df_encoded[feature] = encoder.fit_transform(titanic_df[feature])

titanic_lb_survived = LabelBinarizer()
titanic_df_encoded['survived'] = titanic_lb_survived.fit_transform(titanic_df['survived'])

titanic_df_encoded

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.0000,0,0,187,211.3375,43,2,12,0.0,308
1,1,1,"Allison, Master. Hudson Trevor",1,0.9167,1,2,49,151.5500,79,2,3,0.0,230
2,1,0,"Allison, Miss. Helen Loraine",0,2.0000,1,2,49,151.5500,79,2,0,0.0,230
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.0000,1,2,49,151.5500,79,2,0,135.0,230
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.0000,1,2,49,151.5500,79,2,0,0.0,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",0,14.5000,1,0,259,14.4542,186,0,0,328.0,369
1305,3,0,"Zabour, Miss. Thamine",0,NaN,1,0,259,14.4542,186,0,0,0.0,369
1306,3,0,"Zakarian, Mr. Mapriededer",1,26.5000,0,0,250,7.2250,186,0,0,304.0,369
1307,3,0,"Zakarian, Mr. Ortin",1,27.0000,0,0,264,7.2250,186,0,0,0.0,369
1308,3,0,"Zimmerman, Mr. Leo",1,29.0000,0,0,346,7.8750,186,2,0,0.0,369

### Titanic example

In [6]:
def evaluate(clf, X, y, scoring=None) -> dict:
    scoring = scoring or ['accuracy', 'precision', 'recall', 'roc_auc', 'f1']

    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    _scores = cross_validate(clf, X, y, cv=cv, scoring=scoring, n_jobs=8, return_train_score=True)
    return {name: score.mean() for name, score in _scores.items()}


def evaluate_return_estimator(clf, X, y, scoring=None) -> tuple[dict, list]:
    scoring = scoring or ['accuracy', 'precision', 'recall', 'roc_auc', 'f1']

    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    _scores = cross_validate(clf, X, y, cv=cv, scoring=scoring, n_jobs=8, return_train_score=True,
                             return_estimator=True)
    return {name: score.mean() for name, score in _scores.items() if name != 'estimator'}, _scores['estimator']

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.model_selection import cross_validate, ShuffleSplit

N_ESTIMATORS = 200

clf = RandomForestClassifier(n_estimators=N_ESTIMATORS)

X = titanic_df_encoded.drop(['survived', 'name'], axis='columns')
y = titanic_df['survived']

evaluate(clf, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])

{'fit_time': 0.44005475044250486,
 'score_time': 0.03493866920471191,
 'test_accuracy': 0.9694656488549619,
 'train_accuracy': 0.979178605539637,
 'test_precision': 0.978717836518706,
 'train_precision': 0.9821807658194726,
 'test_recall': 0.9390172482521137,
 'train_recall': 0.9630810164533848,
 'test_roc_auc': 0.9932078203061592,
 'train_roc_auc': 0.9983872216237619,
 'test_f1': 0.9584444510857264,
 'train_f1': 0.9725338233156222}

### Breast cancer example

In [9]:
clf = RandomForestClassifier(n_estimators=N_ESTIMATORS)

X = breast_cancer_features_df
breast_cancer_lb_diagnosis = LabelBinarizer()

X = breast_cancer_features_df.to_numpy()
y = np.squeeze(breast_cancer_lb_diagnosis.fit_transform(breast_cancer_classes_df))

evaluate(clf, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])

{'fit_time': 0.4390377998352051,
 'score_time': 0.02257199287414551,
 'test_accuracy': 0.9631578947368421,
 'train_accuracy': 1.0,
 'test_precision': 0.9700757575757576,
 'train_precision': 1.0,
 'test_recall': 0.936269078273997,
 'train_recall': 1.0,
 'test_roc_auc': 0.9928690873412798,
 'train_roc_auc': 1.0,
 'test_f1': 0.9516461901101048,
 'train_f1': 1.0}

### Mushroom example

In [10]:
clf = RandomForestClassifier(n_estimators=N_ESTIMATORS)

mushroom_lb_poisonous = LabelBinarizer()

mushroom_features_df_encoded = mushroom_features_df

encoded_features = mushroom_features_df.columns
label_encoders = {feature: LabelEncoder() for feature in encoded_features}
for feature, encoder in label_encoders.items():
    mushroom_features_df[feature] = encoder.fit_transform(mushroom_features_df[feature])

X = mushroom_features_df_encoded
y = np.squeeze(mushroom_lb_poisonous.fit_transform(mushroom_classes_df))

evaluate(clf, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])

{'fit_time': 0.7088542938232422,
 'score_time': 0.0695723533630371,
 'test_accuracy': 1.0,
 'train_accuracy': 1.0,
 'test_precision': 1.0,
 'train_precision': 1.0,
 'test_recall': 1.0,
 'train_recall': 1.0,
 'test_roc_auc': 1.0,
 'train_roc_auc': 1.0,
 'test_f1': 1.0,
 'train_f1': 1.0}

# Boosted RF

Plain ol' AdaBoost

In [11]:
from sklearn.ensemble import AdaBoostClassifier

clf = AdaBoostClassifier(n_estimators=N_ESTIMATORS, algorithm='SAMME')

X = breast_cancer_features_df
breast_cancer_lb_diagnosis = LabelBinarizer()

y = np.squeeze(breast_cancer_lb_diagnosis.fit_transform(breast_cancer_classes_df))

evaluate(clf, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])

{'fit_time': 0.8088595390319824,
 'score_time': 0.053123188018798825,
 'test_accuracy': 0.9719298245614034,
 'train_accuracy': 1.0,
 'test_precision': 0.9769461694209735,
 'train_precision': 1.0,
 'test_recall': 0.9497502722903775,
 'train_recall': 1.0,
 'test_roc_auc': 0.9966182602092898,
 'train_roc_auc': 1.0,
 'test_f1': 0.9629576928742024,
 'train_f1': 1.0}

"Boosted RF"

In [58]:
from IPython.display import display
from sklearn.tree import DecisionTreeClassifier

BOOST_RF_N_ESTIMATORS = 50

clf_ref = AdaBoostClassifier(n_estimators=BOOST_RF_N_ESTIMATORS, algorithm='SAMME')


class BoostedRFClassifier(AdaBoostClassifier):
    def __init__(
            self,
            *,
            estimator=DecisionTreeClassifier(),
            n_estimators=BOOST_RF_N_ESTIMATORS,
            learning_rate=1.0,
            random_state=None,
            algorithm='SAMME',
            _disable_weights=False
    ):
        super().__init__(
            estimator=estimator,
            n_estimators=n_estimators,
            learning_rate=learning_rate,
            random_state=random_state,
            algorithm=algorithm
        )

        self._disable_weights = _disable_weights
        self._estimator_weights = np.zeros(self.n_estimators, dtype=np.float64)

    @property
    def estimator_weights_(self):
        return np.ones(self.n_estimators, dtype=np.float64) if self._disable_weights else self._estimator_weights

    @estimator_weights_.setter
    def estimator_weights_(self, v):
        if not self._disable_weights:
            self._estimator_weights = v


clf = BoostedRFClassifier(
    estimator=DecisionTreeClassifier(max_depth=5),
    n_estimators=BOOST_RF_N_ESTIMATORS,
    algorithm='SAMME',
    _disable_weights=False
)

X = breast_cancer_features_df
breast_cancer_lb_diagnosis = LabelBinarizer()

y = np.squeeze(breast_cancer_lb_diagnosis.fit_transform(breast_cancer_classes_df))

res_ref = evaluate(clf_ref, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])
res, est = evaluate_return_estimator(clf, X, y, scoring=['accuracy', 'precision', 'recall', 'roc_auc', 'f1'])

display(
    pd.concat([
        pd.DataFrame.from_dict(res_ref, orient='index')[0].rename('AdaBoost'),
        pd.DataFrame.from_dict(res, orient='index')[0].rename('Boosted RF')
    ], axis=1)
)

                 AdaBoost  Boosted RF
fit_time         0.150450    0.115657
score_time       0.015987    0.010477
test_accuracy    0.973684    0.957895
train_accuracy   1.000000    1.000000
test_precision   0.982013    0.960567
train_precision  1.000000    1.000000
test_recall      0.950175    0.931909
train_recall     1.000000    1.000000
test_roc_auc     0.994809    0.994775
train_roc_auc    1.000000    1.000000
test_f1          0.965594    0.945234
train_f1         1.000000    1.000000